<div id="lineInsDiv" *ngFor="let customer of customerDetails; let i = index">
  <form #f="ngForm" name="form" class="form">
  <table class="record-table" border="0" cellpadding="5" style="visibility:visible; display:table;" id="table{{i}}">
    <tr class="header-icons"><td colspan="4" class="td-header-icons"><br></td></tr>
    <tr>
      <td class="record-table-label">Asiakas_ID</td><td class="record-table-data">
      <a [hidden]="!f.valid" href="javascript:void(0)" title="Save" class="rnr-verticalicons" data-icon="iesave" (click)="addCustomer(customer, i)"></a>
      <a href="javascript:void(0)" (click)="cancel($event, i)" title="Cancel" class="rnr-verticalicons" data-icon="iecancel" id="viewLink4"></a></td>

      <td class="record-table-label">Customer Name	</td><td class="record-table-data" style="font-weight:bold">
      <input required minlength="1" #fullName="ngModel" [(ngModel)]="customer.details.fullName" placeholder="fullName" name="fullName" tabindex="0"/><label class="req">*</label>
      <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)" class="req">Customer name is required.</div></td>
    </tr>
    <tr class="alt">
      <td class="record-table-label">Customer no	</td><td class="record-table-data">
      <input required minlength="1" #customerNo="ngModel" [(ngModel)]="customer.details.customerNo" placeholder="customerNo" name="customerNo"/><label class="req">*</label>
      <div *ngIf="customerNo.invalid && (customerNo.dirty || customerNo.touched)" class="req">Customer no. is required.</div></td>
      <td class="record-table-label">Email address	</td><td class="record-table-data">
      <input required minlength="1" #email="ngModel" [(ngModel)]="customer.details.contactDetails.email" placeholder="email" name="email"/><label class="req">*</label>
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="req">Email address is required.</div></td>
    </tr>
    <tr>
      <td class="record-table-label">Telephone number	</td><td class="record-table-data">
      <input required minlength="1" #phoneNumber="ngModel" [(ngModel)]="customer.details.contactDetails.phoneNumber" placeholder="phoneNumber" name="phoneNumber"/><label class="req">*</label>
      <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="req">Telephone number is required.</div></td>
      <td class="record-table-label">Y ID	</td><td class="record-table-data">
      <input required minlength="1" #yId="ngModel" [(ngModel)]="customer.details.yId" placeholder="yId" name="yId"/><label class="req">*</label>
      <div *ngIf="yId.invalid && (yId.dirty || yId.touched)" class="req">Y ID is required.</div></td>
    </tr>
    <tr class="alt">
      <td class="record-table-label">Address</td><td class="record-table-data">
      <input required minlength="1" #address="ngModel" [(ngModel)]="customer.addresses[0].line1" placeholder="address" name="address"/><label class="req">*</label>
      <div *ngIf="address.invalid && (address.dirty || address.touched)" class="req">Address is required.</div></td>
      <td class="record-table-label">billing address</td><td class="record-table-data">
      <input required minlength="1" #billingAddress="ngModel" [(ngModel)]="customer.addresses[1].line1" placeholder="billingAddress" name="billingAddress"/><label class="req">*</label>
      <div *ngIf="billingAddress.invalid && (billingAddress.dirty || billingAddress.touched)" class="req">billing address is required.</div></td>
    </tr>
    <tr>
      <td class="record-table-label">Postal number and postal address</td><td class="record-table-data">
      <input required minlength="1" #postal="ngModel" [(ngModel)]="customer.addresses[0].postal" placeholder="postal" name="postal"/><label class="req">*</label>
      <div *ngIf="postal.invalid && (postal.dirty || postal.touched)" class="req">Postal number or postal address required.</div></td>
      <td class="record-table-label">Billing Postcode And Location</td><td class="record-table-data">
      <input required minlength="1" #billingPostal="ngModel" [(ngModel)]="customer.addresses[1].postal" placeholder="billingPostal" name="billingPostal"/><label class="req">*</label>
      <div *ngIf="billingPostal.invalid && (billingPostal.dirty || billingPostal.touched)" class="req">Billing postcode or location is required.</div></td>
    </tr>
  </table>
  </form>
</div>
