/* HeroSearch private styles */
#search-component{
  border: 200px;
  align: right;
  margin:10px 10px 0px 0px;
}

.search-result ul{
}

.search-result li {
  align: left;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 195px;
  height: 16px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}

.search-result li:hover {
  background-color: #607D8B;
}

.search-result li a {
  color: #888;
  display: block;
  text-decoration: none;
}

.search-result li a:hover {
  color: white;
}
.search-result li a:active {
  color: white;
}
#search-box {
  width: 200px;
  height: 20px;
}


ul.search-result {
  margin-top: 0;
  padding-left: 0;
}

a{
    color: inherit;
    outline: none;
    text-decoration: underline;
}

[data-icon] {
	text-decoration:none;
}


[data-icon]:before {
	font-family: 'runner-icons';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: inherit;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
	font-size: 123%;
	direction: ltr;
}

.preview [data-icon]:before {
	font-family: 'runner2';
}

.ui-icon-search { background-position: -160px -112px; }

[data-icon=search]:before {
	content: 'd';
	position: relative;
	top: -1px;
}

[data-icon=panelup]:before {
	content: 'u';
	position: relative;
	top: -1px;
}

[data-icon=print]:before {
	content: 'e';
}

[data-icon=printdown]:before {
	content: 'l';
}

[data-icon=printup]:before {
	content: 'z';
}

[data-icon=paneldown]:before {
	content: 'v';
}
[data-icon=panelfloat]:before {
	content: 'g';
}
[data-icon=panelunfloat]:before {
	content: "h";
	position:relative;
	left: -1px;
	top: 1.5px;


}

[data-icon=details]:before {
	content: 'm';
	opacity: 0.6;
}

[data-icon=edit]:before {
	content: '`';
	opacity: 0.6;
}
[data-icon=inlineedit]:before {
	content: 'p';
	opacity: 0.6;
}
[data-icon=view]:before {
	content: 'a';
	opacity: 0.6;
}
[data-icon=copy]:before {
	content: 'L';
	opacity: 0.6;
}

@font-face {
  font-family: runner-icons;
  src: url('/assets/fonts/runner2woff.ttf') format('truetype');
  font-weight: bold;
  font-color: black;
}
