<div id="search-component" align="right">
  <!--<h4>Hero Search</h4>-->

  <table border="0" class="searchbox-and-icon">
    <tr>
    <td>
      <!--<input #searchBox id="search-box" (input)="search(searchBox.value)" title="etsi" />-->
      <input #myInput placeholder="etsi..." [(ngModel)]="name" (input)="filterItem($event, myInput.value)" title="etsi"/>
    </td>
    <!--<td>
      <a class="rnr-button img" href="#" data-icon="search" id="searchButtTop1" title="Find"></a>
    </td>-->
      <td>
        <a class="rnr-button img" href="#" data-icon="panelfloat" id="showSrchWin1" title="Floating window"></a>
      </td>
      <td>
        <a class="rnr-button img" href="#" data-icon="paneldown" id="showOptPanel1" title="Show search panel"></a>
      </td>
  </tr>
  <!--<tr>
    <td colspan="2"><ul class="search-result">
      <li *ngFor="let hero of heroes$ | async" align="left">
        <a routerLink="/detail/{{hero.id}}">
          {{hero.name}}
        </a>
      </li>
    </ul></td>
  </tr>-->
  </table>
</div>
