<table bordercolor="" style="width: 100%;border-collapse:separate;margin:5px;" bgcolor="" border="1" rules="all" cellspacing="0" cellpadding="2">
  <tbody>
  <tr style="height: 25px;">
    <td style="vertical-align: top; white-space: normal;">
      <p align="left">&nbsp;<a href="http://www.raskone.fi/"><img style="border: 0px solid currentColor; border-image: none; width: 95px; height: 38px;" alt="Raskone Oy" src="assets/images/vwr.png"></a></p><!--<a href="http://www.raskone.fi/">
      <p><br></p></a>--></td>
    <td style="vertical-align: top;">
      <p><span style="font-weight: bold;"><font face="Verdana" size="2">&nbsp;</font></span><span style="font-weight: bold;"><font face="Verdana" size="2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Raskone's Service Agreement Version 3.55</font></font></font></span></p>
      <p><span style="font-weight: bold;">&nbsp;<a href="Raskone Huoltosopimus – yleiset sopimusehdot.pdf" target="_blank"><strong><font color="#0000ff" size="2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Raskone Service Agreement - General Terms and Conditions</font></font></font></strong> </a></span></p>
      <!--<p><br></p>--></td></tr></tbody></table>

<div class="page-body">
<router-outlet></router-outlet>

  <app-messages></app-messages>
</div>


