/* DashboardComponent's private CSS styles */

a /deep/ {
    /*color: inherit;*/
    color: #DEDEDE;
    outline: none;
    text-decoration: underline;
}

[data-icon] {
	text-decoration:none;
}

[data-icon]:before {
	font-family: 'runner-icons';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: inherit;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
	font-size: 123%;
	direction: ltr;
}

.preview [data-icon]:before {
	font-family: 'runner2';
}

.ui-icon-search { background-position: -160px -112px; }

:hover > * > [data-icon=edit]:before ,
:hover > * > [data-icon=copy]:before ,
:hover > * > [data-icon=view]:before ,
:hover > * > [data-icon=inlineedit]:before ,
:hover > * > [data-icon=iesave]:before,
:hover > * > [data-icon=iecancel]:before
:hover > * > [data-icon=details]:before
{
	opacity: 1;
}

[data-icon=iesave]:before {
	content: '[';
	opacity: 0.6;
	font-size:130%;
}
[data-icon=iecancel]:before {
	content: '!';
	opacity: 0.6;
	font-size:150%;
}

[data-icon=search]:before {
	content: 'd';
	position: relative;
	top: -1px;
}

[data-icon=panelup]:before {
	content: 'u';
	position: relative;
	top: -1px;
}

[data-icon=print]:before {
	content: 'e';
}

[data-icon=printdown]:before {
	content: 'l';
}

[data-icon=printup]:before {
	content: 'z';
}

[data-icon=paneldown]:before {
	content: 'v';
}
[data-icon=panelfloat]:before {
	content: 'g';
}
[data-icon=panelunfloat]:before {
	content: "h";
	position:relative;
	left: -1px;
	top: 1.5px;
}

[data-icon=details]:before {
	content: 'm';
	opacity: 0.6;
}

[data-icon=edit]:before {
	content: '`';
	opacity: 0.6;
}
[data-icon=inlineedit]:before {
	content: 'p';
	opacity: 0.6;
}
[data-icon=view]:before {
	content: 'a';
	opacity: 0.6;
}
[data-icon=copy]:before {
	content: 'L';
	opacity: 0.6;
}

@font-face {
  font-family: runner-icons;
  src: url('/assets/fonts/runner2woff.ttf') format('truetype');
  font-weight: bold;
  font-color: black;
}

table{
  border-collapse: collapse;
  margin-bottom: 10px;
  border-spacing: 0px;
  border: 1px solid black;
}

th, td {
  border-top: solid #C4B1A2 1px;
  background-image: none;
  font-family: Verdana, sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: #333333;
  padding: 5px 8px;
}

tr.alt{
  background-color: #EDF1F3;
}

[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
/*a {
  text-decoration: none;
}*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center;
  margin-bottom: 0;
}
h4 {
  position: relative;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 25%;
}
.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #607d8b;
  border-radius: 2px;
}
.module:hover {
  background-color: #eee;
  cursor: pointer;
  color: #607d8b;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}

.record-table-data{
  width: 250px;
}

.record-table-label{
  align:right
}

.record-table{
  border : solid #C4B1A2 1px;
}

.td-header-icons
{
  /*background-color: #FF8E01;*/
  /*background-color: #d12b19;*/

  background-color: #E33229;
  background-image: none;font-family: Trebuchet MS, sans-serif;font-size: 13px;font-weight: bold;font-style: normal;text-decoration: none;color: #070400;padding: 10px 4px;
}

.record-box{clear: both}

h5 /deep/ {}
/deep/ .float-right{font-size:12px; font-weight:bold; float:right; padding-left:10px;}
/deep/ .float-left{font-size:12px; font-weight:bold; float:left; padding-left:50px;}

/*any pagination*/
#ngbb {float: right}
#ngb /deep/ ul li {
      float: left;
      position: relative;
      display: block;
      border: 1px solid #dee2e6;

  /*border: solid #927f71 1px;
  float: left;
  list-style: none;
  text-align: center;
  background-color: #ffbd01;
  *//* margin-right: 30px; *//*
  width: 20px;
  *//* line-height: 60px; *//*
  font-family: Verdana, sans-serif;
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;*/
}

/deep/ .page-item.active .page-link{
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

/deep/ .page-link{
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    text-decoration: none;
}

/deep/ .sr-only{
  display: none;
}

