<div *ngIf="!hasAllLoaded">Initializing search engine...<br><br></div>
<app-customer-search *ngIf="hasAllLoaded" #searches (searchEvent)="filterItem($event)"></app-customer-search>

<app-rask-one-menu #menu (lineInsertEvent)="lineInsert.doCopy()" (selectUnselectEvent)="selectUnselectAll()"
                        (cancelAllEvent)="lineInsert.cancelAll()" (saveAllEvent)="lineInsert.saveAll()" (exportSelectedEvent)="exportSelected()"></app-rask-one-menu>
<div *ngIf="!hasAllLoaded">Pagination Loading...</div>

<div >
<h5 style="font-size:12px; font-weight:bold; float:left; padding-right: 50px;"
    >Records found: {{hasAllLoaded? filteredItems.length : total}}
</h5>

<h5 class="float-right">
  <app-prev-next *ngIf="!hasAllLoaded" [customerId]="0" [pageSize]="itemsPerPage" [paginationMode]="'home'" (customerDetails)="prevNextPage($event)" [currentPage]="currentPage">
    Loading...
  </app-prev-next>

  Records on page: <select name="selectItemsPerPage" [(ngModel)]="itemsPerPage" (change)="onSelectItemsPerPageChange()">
  <option *ngFor="let opts of [{'val': 10, 'text': 10}, {'val': 20, 'text': 20}, {'val': 30, 'text': 30}, {'val': 40, 'text': 40}, {'val': 50, 'text': 50}, {'val': 500, 'text': 500}, {'val': (hasAllLoaded? filteredItems.length : total), 'text': 'Select All'}]; let i = index"
          [ngValue]="opts.val">{{opts.text}}
  </option>
</select>
</h5>
<div *ngIf="filteredItems.length>0 && hasAllLoaded" id="ngbb">
  <ngb-pagination [pageSize]="itemsPerPage" [collectionSize]="filteredItems.length" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                  (pageChange)="loadPage(page); menu.selectAll=selectAll=false; " id="ngb">Loading</ngb-pagination>
</div>
</div>

<app-line-insertion #lineInsert (menuEvent)="menu.function1()" (minusMinusEvent)="menu.minusMinus()" (initLoadEvent)="initLoad(page)"></app-line-insertion>


<div *ngFor="let customer of filteredItems | slice: (page-1) * itemsPerPage : (page-1) * itemsPerPage + itemsPerPage"
  class="record-box">
  <table class="record-table" border="0" cellpadding="5">
    <tr class="header-icons"><td colspan="4" class="td-header-icons"><a routerLink="/customerView/edit/{{customer.details.id}}" title="Edit" class="rnr-verticalicons" data-icon="edit" id="editLink4"></a> <a routerLink="/customerView/view/{{customer.details.id}}" title="Show" class="rnr-verticalicons" data-icon="view" id="viewLink4"></a>
      <input type="checkbox" [checked]="customer.checked" [(ngModel)]="customer.checked" /> <!--<mat-checkbox></mat-checkbox>--> <!--/ <a (click)="delete($event, customer.details)"  title="Delete">delete</a>--></td></tr>
    <tr>
      <td class="record-table-label">Asiakas_ID</td><td class="record-table-data" [innerHTML]="customer.details.id"></td>
      <td class="record-table-label">Customer Name	</td><td class="record-table-data" style="font-weight:bold" [innerHTML]="customer.details.fullName"></td>
    </tr>
    <tr class="alt">
      <td class="record-table-label">Customer no	</td><td class="record-table-data" [innerHTML]="customer.details.customerNo"></td>
      <td class="record-table-label">Email address	</td><td class="record-table-data" [innerHTML]="customer.details.contactDetails.email"></td>
    </tr>
    <tr>
      <td class="record-table-label">Telephone number	</td><td class="record-table-data" [innerHTML]="customer.details.contactDetails.phoneNumber"></td>
      <td class="record-table-label">Y ID	</td><td class="record-table-data" [innerHTML]="customer.details.yId"></td>
    </tr>
    <tr class="alt">
      <td class="record-table-label">Address</td><td class="record-table-data" [innerHTML]="customer.addresses[0].address"></td>
      <td class="record-table-label">billing address</td><td class="record-table-data" [innerHTML]="customer.addresses[1].address"></td>
    </tr>
    <tr>
      <td class="record-table-label">Postal number and postal address</td><td class="record-table-data" [innerHTML]="customer.addresses[0].postal"></td>
      <td class="record-table-label">Billing Postcode And Location</td><td class="record-table-data" [innerHTML]="customer.addresses[1].postal"></td>
    </tr>
  </table>
</div>
