<div class="prevNext">
<button (click)="prevNextClick(-1)" *ngIf="(currentPage*pageSize)-pageSize > 0">
  <<
</button>&nbsp;<label *ngIf="total">Page {{currentPage}} of {{(total / pageSize) | round}}&nbsp;</label>
 <button (click)="prevNextClick(1)" *ngIf="(currentPage*pageSize)+pageSize <= ((total / pageSize | round) * pageSize)  ">
  >>
</button>
</div>
