<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/home">RASKONE</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="javascript:void(0);" routerLink="/customerView/add" title="Add New">Lisää uusi</a></li>
        <li><a href="javascript:void(0);" (click)="lineInsert($event)" title="Line Insertion">Rivin lisäys</a></li>
        <li><a href="javascript:void(0);" (click)="selectUnselectAll($event)" [title]="(!selectAll ? 'Choose all' : 'Remove selection')">
          {{(!selectAll) ? "Valitse kaikki" : "Poista valinta"}}</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" title="Selected ..." href="javascript:void(0);">Valittujen <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0);" (click)="exportSelected($event)">Export</a></li>
          </ul>
        </li>


        <li *ngIf="lineInserted>0"><a href="javascript:void(0);" (click)="saveAll($event)" title="Save All">Tallenna kaikki</a></li>
        <li *ngIf="lineInserted>0"><a href="javascript:void(0);" (click)="cancelAll($event)" title="Cancel All">Peruuta kaikki</a></li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" title="More ..." href="javascript:void(0);">Lisää <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/advancedSearch" href="javascript:void(0);" title="Advanced Search">Tarkennettuhaku</a></li>
            <li><a routerLink="/exportResults" href="javascript:void(0);" title="Export Results" target="_blank" id="export_1">Vietulokset</a></li>
            <li><a routerLink="/tuo" href="javascript:void(0);" title="That">Tuo</a></li>
          </ul>
        </li>
        </ul>
      <!--<ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>-->
    </div>
  </div>
</nav>
