<h2>{{subTitle}}</h2>
<div class="inner-body" *ngIf="customerDetails">
  <form #f="ngForm" name="form" class="form">
  <div>
    <label>Customer no:</label><br>
    <div *ngIf="input=='input'">
      <input required minlength="1" #customerNo="ngModel" [(ngModel)]="customerDetails.details.customerNo" placeholder="customerNo" name="customerNo"/><label class="req">*</label>
      <div *ngIf="customerNo.invalid && (customerNo.dirty || customerNo.touched)" class="req">Customer no. is required.</div></div>

    <label class="label-data" *ngIf="input=='label'">{{customerDetails.details.customerNo}}</label>
  </div>
  <div>
    <label>Telephone number:</label><br>
    <div *ngIf="input=='input'">
      <input required minlength="1" #phoneNumber="ngModel"  [(ngModel)]="customerDetails.details.contactDetails.phoneNumber" placeholder="phoneNumber" name="phoneNumber"/><label class="req">*</label>
      <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="req">Telephone number is required.</div></div>

    <label class="label-data" *ngIf="input=='label'">{{customerDetails.details.contactDetails.phoneNumber}}</label>
  </div>
  <div>
    <label>Address:</label><br>
    <div *ngIf="input=='input'">
      <input required minlength="1" #address="ngModel" [(ngModel)]="customerDetails.addresses[0].line1" placeholder="address" name="address"/><label class="req">*</label>
      <div *ngIf="address.invalid && (address.dirty || address.touched)" class="req">Address is required.</div></div>

    <label class="label-data" *ngIf="input=='label'">{{customerDetails.addresses[0].line1}}</label>
  </div>
  <div>
    <label>Postal number and postal address:</label><br>
    <div *ngIf="input=='input'">
      <input required minlength="1" #postal="ngModel" [(ngModel)]="customerDetails.addresses[0].postal" placeholder="postal" name="postal"/><label class="req">*</label>
      <div *ngIf="postal.invalid && (postal.dirty || postal.touched)" class="req">Postal number and/or postal address is required.</div></div>

    <label class="label-data" *ngIf="input=='label'">{{customerDetails.addresses[0].postal}}</label>
  </div>
  <div>
    <label>Customer name:</label><br>
    <div *ngIf="input=='input'">
      <input required minlength="1" #fullName="ngModel" [(ngModel)]="customerDetails.details.fullName" placeholder="fullName" name="fullName"/><label class="req">*</label>
      <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)" class="req">Customer name is required.</div></div>

    <label class="label-data" *ngIf="input=='label'">{{customerDetails.details.fullName}}</label>
  </div>
  <div>
    <label>Email address:</label><br>
    <div *ngIf="input=='input'">
      <input required minlength="1" #email="ngModel" [(ngModel)]="customerDetails.details.contactDetails.email" placeholder="email" name="email"/><label class="req">*</label>
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="req">Email address is required.</div></div>

    <label class="label-data" *ngIf="input=='label'">{{customerDetails.details.contactDetails.email}}</label>
  </div>
  <div>
    <label>Y ID:</label><br>
    <div *ngIf="input=='input'">
      <input required minlength="1" #yId="ngModel" [(ngModel)]="customerDetails.details.yId" placeholder="yId" name="yId"/><label class="req">*</label>
      <div *ngIf="yId.invalid && (yId.dirty || yId.touched)" class="req">Y ID is required.</div></div>

    <label class="label-data" *ngIf="input=='label'">{{customerDetails.details.yId}}</label>
  </div>
  <div>
    <label>Billing address:</label><br>
    <div *ngIf="input=='input'">
      <input required minlength="1" #billingAddress="ngModel" [(ngModel)]="customerDetails.addresses[1].line1" placeholder="billingAddress" name="billingAddress"/><label class="req">*</label>
      <div *ngIf="billingAddress.invalid && (billingAddress.dirty || billingAddress.touched)" class="req">Billing address is required.</div></div>

    <label class="label-data" *ngIf="input=='label'">{{customerDetails.addresses[1].line1}}</label>
  </div>
  <div>
    <label>Billing postal:</label><br>
    <div *ngIf="input=='input'">
      <input required minlength="1" #billingPostal="ngModel" [(ngModel)]="customerDetails.addresses[1].postal" placeholder="billingPostal" name="billingPostal"/><label class="req">*</label>
      <div *ngIf="billingPostal.invalid && (billingPostal.dirty || billingPostal.touched)" class="req">Billing postal is required.</div></div>

    <label class="label-data" *ngIf="input=='label'">{{customerDetails.addresses[1].postal}}</label>
  </div>


<!-- buttons -->
<button *ngIf="mode=='add'" [disabled]="!f.valid" (click)="add(customerDetails);">
  Create
</button>

<button *ngIf="mode=='edit'" [disabled]="!f.valid" (click)="edit(customerDetails);">
  Update
</button>
</form>

</div>

<div>
<button *ngIf="mode=='view'" (click)="router.navigate(['/customerView/edit/' + customerDetails.details.id] )">
  Edit
</button>

<button *ngIf="mode=='view'" (click)="delete(customerDetails);">
  Delete
</button>

<button (click)="gotoPage('/home' + (this.currentPage? '/' + this.currentPage : '') )">
  Return to the board
</button>

<app-prev-next #prevNext *ngIf="mode!='add'" [pageSize]="1" [customerId]="customerId" [paginationMode]="'editView'" (prevNextId)="prevNextPage($event)">Loading...</app-prev-next>
</div>
